.portfolioList{
    font-size: 17px;   
    padding: 7px;
    margin: 0 30px 0 ;
    border-radius: 10px;
    cursor: pointer;
    &.activeP{
        background-color: aqua;
        color: black;
    }

    @media (max-width: 960px) {      

        li{
            margin-right: 10px;
        }             
    }
}
// .port{
//      background-color: #1f2235;
//             // width: 10rem;
//     height: 2.7rem;
//     border-radius: 7px;
// }