.containerS{
    padding: 50px;
    width: 80%;
    margin-left: 10%;
    background: radial-gradient(circle at 31.81% 0.03%, #3c4266 0, #22263a 50%, #070813 100%);
    color: #fff;
    transition: all 0.5s linear;  
    z-index: 2;
    align-content: center;   
}

.SkillCont{
    background: #242841;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 50px;   
}

.wraps{
    flex-wrap: wrap;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4rem;
}

 

.font-14{
    font-size: 24px;    
    text-align: center;
    font-weight: 700;
    color: #ff4a57;
    text-decoration: underline;
}

.particlescanvas{
    z-index: 0;
    margin-left: -4rem;
}

@media (max-width: 960px) {

    .particlescanvas{
        z-index: 0;       
        margin-left: -5rem;
    }
    .containerS{
        padding: 35px;
        width: 110%;
        margin-left: -5%;         
        z-index: 2;
        align-content: center;   
    }    
    .wraps{
        flex-wrap: wrap;
        display: block;    
        justify-content: space-between;
        align-items: center;
        padding-bottom: 4rem;
    }

}